.input-container {
  border-radius: 25px;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;
  margin: 20px 10%;
}
.input-container input {
  outline: none;
  border: none;
  width: 100%;
  background-color: inherit;
}
